.span6.pull-right
  .likes
    Likes
    %ul
      %li Watching people walk like Egyptian mummies first thing in the morning while their legs wake up.
  .dislikes
    Dislikes:
    %ul
      %li People taking shits with the door open.
  .wishes
    Wishes:
    %ul
      %li To be as cool as that guy who takes photos of naked people in public places and calls it art. And to have a girlfriend who would let me.
