.span12
  %a{:href=> "mailto: me@sebglazebrook.com",  :alt => "email"}
    %img{:src => "/images/emailBWTOP.png"}
  %a{:href => "http://www.facebook.com/sebglazebrook", :alt=> "facebook"}
    %img{:src => "/images/FacebookBWTOP.png"}
  %a{ :href => "http://twitter.com/SebGlazebrook", :alt => "twitter"}
    %img{:src => "/images/TwitterBWTOP.png"}
  %a{:href => "http://sebglazebrook.posterous.com", :alt => "posterous"}
    %img{:src => "/images/posterousBWTOP.png"}
