!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title SebGlazebrook.com
    /  bootstrap
    %link{ :href => "/bootstrap/css/bootstrap.css", :type => "text/css", :rel => "stylesheet" }
    %link{ :href => "/bootstrap/css/bootstrap-responsive.css", :type => "text/css", :rel => "stylesheet" }
    / stylesheet
    %link{ :href => "/stylesheets/application.css", :type => "text/css", :rel => "stylesheet" }
  %body
    #wrapper
      Hey hey!
